.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: black;
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: end;
  justify-self: end;
  background: url(../../../images/pencil.svg) center center/10px 10px no-repeat;
}
