.profile__button-edit {
  width: 24px;
  height: 24px;
  margin: 0 18px 0 18px;
  border: 1px solid #FFFFFF;
  background-color: black;
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: end;
  justify-self: center;
  background: url(../../../images/pencil.svg) center center/10px 10px no-repeat;
  transition: opacity 0.3s linear;
}

.profile__button-edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

/*@media screen and (min-width: 429px) and (max-width: 690px) {
  .profile__button-edit {
    justify-self: end;
  }
}*/

@media screen and (max-width: 523px) {
  .profile__button-edit {
    margin-left: 10px;
    justify-self: start;
    grid-column: 3/4;
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
  }
}
