.popup__caption {
  margin: 0 0 54px;
  font: normal 900 24px/29px Inter, Arial, sans-serif;
  color: #000000;
}

@media screen and (max-width: 523px) {
  .popup__caption {
    margin-bottom: 72px;
    font-size: 18px;
    line-height: 22px;
  }
}