.popup__send {
  margin: 20px 0 0;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  border: none;
  padding: 0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.3s linear;
}

.popup__send:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 523px) {
  .popup__send {
    margin-top: 15px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
