.profile {
  display: grid;
  grid-template-columns: 120px fit-content(calc(100vw - 230px)) min-content auto;
  grid-template-rows: 22px 39px 16px 18px 25px auto;
  margin: 0 auto;
  max-width: 880px;
}

@media screen /*and (min-width: 429px)*/ and (max-width: 690px) {
  .profile {
    grid-template-columns: 120px 324px min-content;
    max-width: 486px;

  }
}

@media screen and (max-width: 523px) {
  .profile {
    grid-template-columns: minmax(38px,1fr) auto minmax(38px,1fr);
    grid-template-rows: 146px 26px 14px 50px;
    text-align: center;
  }
}
