.header {
  height: 75px;
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;

  margin: 0 auto 0;
  border-bottom: 10px solid red/*rgba(84,84,84,0.7)*/;
}


@media screen and (max-width: 918px) {
  .header {
    padding: 0 19px;

  }
}
