.cards__item {
  width: 282px;
  height: 361px;
  background: #FFFFFF;
  border-radius: 10px;

  display: grid;

  align-items: center;
  grid-template-columns: 200px 82px;
  grid-template-rows: 282px 79px;

}
