.profile__name {
  color: #FFFFFF;
  grid-column: 2/3;
  grid-row: 2/4;
  margin: 0 0 0 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font: normal 500 42px/1.14 Inter, Arial, sans-serif;
}

@media screen and (max-width: 523px) {
  .profile__name {
    font: normal 500 27px/33px Inter, Arial, sans-serif;
    grid-column: 2/3;
    margin-left: 0;
  }
}
