.popup__caption {
  margin: 0 0 54px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

@media screen and (max-width: 523px) {
  .popup__caption {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }
}
