.cards__like {
  margin: 0 auto 0;
  display: block;
  background: url(../../../images/like.svg) center center/22px 19px no-repeat;
  width: 22px;
  height: 19px;
  padding: 0;
  border: 0;
  transition: opacity 0.3s linear;

}

.cards__like:hover {
  cursor: pointer;
  opacity: 0.5;
}